<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;  justify-content:space-between;">
  <div class="logo">
    <div class="logo-text">
      <h1>Dancing Partners</h1>
    </div>
      <%= link_to "Back", :back %>
    </div>
     <div class="menu-navbar">
      <%= link_to "Back", :back %>
      <%= link_to "Home", root_path %>
      <%= link_to "My profile", profile_path %>
    </div>
  </div>

<%= simple_form_for (@profile), method: :put do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <h2><%= @profile.dance.title %></h2>
    <br>
    <%= f.select :investissement, Profile::INVESTISSEMENT.map { |i| [i] } %><br>
    <%= f.select :niveau, Profile::NIVEAU.map { |n| [n] } %><br>
  </div>
    <div class="form-actions">
      <%= f.submit "Update", method: :put %>
    </div>
  <% end %>
</div>
