<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;  justify-content:space-between;">
  <div class="logo">
    <div class="logo-text">
      <h1>Dancing Partners</h1>
    </div>
      <%= link_to "Back", :back %>
    </div>
     <div class="menu-navbar">
      <%= link_to "Back", :back %>
      <%= link_to "Home", root_path %>
      <%= link_to "My profile", profile_path %>
    </div>
  </div>

<%= simple_form_for @profile, method: :patch do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <% @profile_user.each do |my_dance| %>
  <%= link_to my_dance.dance.title, method: :delete %>
  <% end %>
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :first_name, required: false, autofocus: true %>
    <%= f.input :age, required: false, autofocus: true %>
    <%= f.input :location,
                required: true,
                input_html: { autocomplete: "location" } %>
    <%= f.input :experience,
                required: true,
                input_html: { autocomplete: "Années d'expérience'" } %>
    <%= f.label :genre %><br>
    <%= f.select :gender, User::GENDER_TYPES.each.map { |gender| [gender] } %>
    <%= f.label :photo %><br>
    <%= f.file_field :photo, as: :file %>
  </div>
    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
</div>
