

<div class="container-card-profile" style="display:flex;">
  <div class="card-profile-index">
    <div class="photo-n-details">
      <%= image_tag @user.photo if @user.photo.attached? %>
      <div class="user_profile-informations">
        <ul>
          <li><%= @user.first_name %></li>
          <li><%= @user.last_name %></li>
          <li><%= @user.contact %></li>
          <li><%= @user.email %></li>
          <li><%= @user.location %></li>
          <p><%= pluralize @user.reviews.size, "partner review" %></p>
          <p><%= pluralize @user.requests.size, "partner request" %></p>
          <p><%= pluralize @user.profiles.size, "dancer profile" %></p>
          <p><%= pluralize @user.appointments.size, "organized event" %></p>
          <p><%= pluralize @user.appointments.size, "pending event" %></p>
          <p><%= pluralize @user.appointments.size, "gone event" %></p>
          <br>
            <br>
        </ul>
      </div>
    </div>
    <div class ="reviews-block" style="padding:10px;">
      <h2><%= pluralize @user.reviews.size, "témoignages" %></h2>
      <div>
        <%= simple_form_for([ @user, @review ], remote: true,
        :authenticity_token => true) do |f| %>
          <%= f.input :content, as: :text %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div id="reviews">
        <% if @user.reviews.blank? %>
          Be the first to leave a review for <%= @user.first_name %>
        <% else %>
          <% @user.reviews.each do |review| %>
            <a><%= review.id %></a>
            <a><%= review.content %></a>
            <a>by <%= review.user.first_name %></a>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="index-profiles">
    <% @user.profiles.each do |profil| %>
    <div id="index-profiles-cards">
      <ul>
        <li><%= link_to profil.dance.title, dance_path(profil.dance) %></li>
        <li><%= profil.niveau %></li>
        <li><%= profil.investissement %></li>
        <li><%= profil.training_per_week %> hours/week</li>
      </ul>
      <div class="buttons" style="display:flex; height:50px; margin-right:10px;
      justify-content:space-evenly; color:white; font-family:'Raleway">
        <button type="button" class="btn btn-primary"><%= button_to 'Request',
        user_requests_path(profil), method: :post %></button>
        <div id="b-primary"><%= link_to 'Compare', profile_meetings_path(profil)%></div>
      </div>
      <div id="graph-percentage">
        <canvas id="graph1"
          data-user-full-name="<%= "#{@user.last_name} #{@user.first_name}" %>"
          data-user-skills="<%=
          [ profil.level,
            profil.xp,
            profil.coaching_status,
            profil.practice_a_week,
            profil.technique,
            profil.ambition,
            profil.empathie,
            profil.social].to_json
          %>"
          data-profile-skills= "
          <%=
            [profil.niveau,
            profil.investissement,
            profil.training_per_week].to_json
          %>"
          data-skills-name="<%= User::SKILLS.to_json %>">
        </canvas>
      </div>
    </div>
      <% end %>
  </div>
</div>
<script>

</script>
<canvas id="myChart" width="400" height="400"></canvas>


