<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Mon Profil", user_path(current_user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Edit your profile", edit_user_path(@user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a>
      </div>
    </div>
  </div>
</div>
<div class="container-card-profile">
  <div style="display:flex; width:600px;">
    <%= image_tag @user.photo if @user.photo.attached? %>
    <div>
      <ul>
        <li><%= @user.first_name %></li>
        <li><%= @user.last_name %></li>
        <li><%= @user.contact %></li>
        <li><%= @user.email %></li>
        <li><%= @user.location %></li>
        <br>
        <br>
      </ul>
    </div>
    <div style="margin-left:100px; margin-top:5px; padding:10px;">
    <% @user.profiles.each do |profil| %>
    <div style="margin-top:20px; border:solid; width:300px; height:200px; margin-bottom:10px; padding:10px; margin-left:10px;">
      <ul>
        <li><%= link_to profil.dance.title, dance_path(profil.dance) %></li>
        <li><%= profil.niveau %></li>
        <li><%= profil.investissement %></li>
        <li><%= profil.training_per_week %> hours/week</li>
      </ul>
        <div style="display:flex; height:50px; width:250px; margin-right:10px; justify-content:space-evenly;">
          <button type="button" class="btn btn-primary"><%= link_to 'Request', method: :patch %></button>
          <button type="button" class="btn btn-danger"><%= link_to 'Review', user_reviews_path(@user), method: :post %></button>
        </div>
    </div>
    <% end %>
  </div>
  </div>
  <div class ="reviews-block">
      <h2>
        <%= pluralize @user.reviews.size, "review" %>
      </h2>
    <div style="width:500px;">
      <%= simple_form_for([ @user, @review ], remote: true) do |f| %>
          <%= f.input :content, as: :text %>
          <%= f.button :submit %>
      <% end %>
    </div>
    <div id="reviews">
      <% if @user.reviews.blank? %>
        Be the first to leave a review for <%= @user.first_name %>
      <% else %>
        <% @user.reviews.each do |review| %>
          <p><%= review.content %></p>
        <% end %>
      <% end %>
    </div>
  </div>

