<div class="container-card-profile" style="display:flex;">
  <div class="card-profile-index">
    <div class="photo-n-details">
      <%= image_tag @user.photo if @user.photo.attached? %>
      <div class="user_profile-informations">
        <ul>
          <li><%= @user.first_name %></li>
          <li><%= @user.last_name %></li>
          <li><%= @user.contact %></li>
          <li><%= @user.email %></li>
          <li><%= @user.location %></li>
          <p><%= pluralize @user.reviews.size, "partner review" %></p>
          <p><%= pluralize @user.requests.size, "partner request" %></p>
          <p><%= pluralize @user.profiles.size, "dancer profile" %></p>
          <p><%= pluralize @user.appointments.size, "organized event" %></p>
          <p><%= pluralize @user.appointments.size, "pending event" %></p>
          <p><%= pluralize @user.appointments.size, "gone event" %></p>
          <br>
          <br>
          <span class="matching-percentage-js matching-percentage-css" data-percentage="<%= @user.matching_percentage_calc %>">
        </ul>
      </div>
    </div>
    <div class ="reviews-block" style="padding:10px;">
      <h2><%= pluralize @user.reviews.size, "review" %></h2>
      <div>
        <%= simple_form_for([ @user, @review ]) do |f| %>
          <%= f.input :content, as: :text %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div id="reviews">
        <% if @user.reviews.blank? %>
          Be the first to leave a review for <%= @user.first_name %>
        <% else %>
          <% @user.reviews.each do |review| %>
            <p><%= review.content %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="index-profiles">
    <% @user.profiles.each do |profil| %>
    <div class="index-profiles-cards" style="display:flex;">
      <ul>
        <li><%= link_to profil.dance.title, dance_path(profil.dance) %></li>
        <li><%= profil.niveau %></li>
        <li><%= profil.investissement %></li>
        <li><%= profil.training_per_week %> hours/week</li>
      </ul>
      <div class="buttons" style="display:flex; height:50px; margin-right:10px; justify-content:space-evenly; color:white; font-family:'Raleway">
        <button type="button" class="btn btn-primary"><%= link_to 'Request', user_requests_path(profil), method: :post %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Compare', profile_meetings_path(profil), method: :post %></button>
      </div>
      <div class="graph-percentage">
          GRAPHIQUE COMPARAISON STATISTIQUES
         <span class="matching-percentage-js matching-percentage-css" data-percentage="<%= profil.matching_percentage_calc %>"><%#= '%.2f' % offer.matching_percentage %></span>
      </div>
    </div>
    <% end %>
  </div>
</div>


