<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Mon Profil", user_path(current_user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Community", users_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Dances", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Edit your profile", edit_user_path(@user), class:  "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:  "btn-ghost" %></a>
      </div>
    </div>

  </div>
</div>
<div class="container-dances" style="margin-top: 200px; height: 700px;">
  <h2><%= @profile.dance.title %><h2>
  <p><%= @profile.investissement %></p>
  <p><%= @profile.niveau %></p>
  <p><%= @profile.training_per_week %> h/week</p>
  <div class="button"><%= link_to "Modifie ce profile", edit_profile_path, class:  "btn-ghost" %></a>
    <p><%= @requests.count %> requêtes de ce profil</p>
</div>
