<div class="title-profile">
  <h1>Dancing Partners</h1>
  <p>The First WorldWide Dancers Community</p>
</div>
<div class="section">
  <div class="row">
    <div class="column">
      <a class="link"><%= link_to "Partenaires", profile_path, class: "btn-ghost" %></a>
    </div>
    <div class="column">
      <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
    </div>
    <div class="column">
      <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
    </div>
    <div class="column">
      <a class="link"><%= link_to "Edit", edit_profile_path, class:  "btn-ghost" %></a>
    </div>
    <div class="column">
      <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:  "nav-link" %></a>
    </div>
  </div>
</div>
  <div class="container-card-profile">
    <div class="banner-profile">
      <div class="image-profile">
        <%= image_tag (@profile_avatar) if @profile_avatar.attached? %>
      </div>
       <div class="my-informations">
        <a><%= @profile.first_name %></a>
        <a><%= @profile.experience %> years experience</a>
        <a><%= current_user.location %></a>
        <a><%= current_user.age %> years old</a>
      <% @my_dances.each do |dance| %>
            <%= dance %>
            <% end %>
      </div>
      <div class="dance-query">
        <div class="query">
          <%= form_tag dances_path, method: :get do %>
          <%= text_field_tag :query,
            params[:dance],
            class: "form-control",
            placeholder: "Quelle danse cherches-tu?"
          %>
        </div>
        <div class="button-OK">
          <%= submit_tag "Search" %>
          <% end %>
        </div>
      </div>
  </div>
<div class="container1">
  <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-dancers="<%= @dancers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
    <div class="my_profile">
       <div class="menu">
          <%= link_to "Ajoute ta danse", new_dance_path %>
          <%= link_to "Crée ton évenement", new_appointment_path %>
        </div>
      <div class="container-appointments-profile">
        <div class="button-block">
          <div class="titres-cadre">
            <p> Mes danses </p>
            <% @my_dances.each_with_index do |dance| %>
            <%= dance %><br>
            <% end %>
          </div>
          <div class="titres-cadre">
            <p> Partenaires </p>
            <% @users.each do |user| %>
            <%= user.first_name %><br>
          <% end %>
          </div>
        </div>
        <div class="accroche">
          <p> Découvre ton profil </p>
        </div>
      </div>
      <div class="dances_menu">
        <!-- <h3><% @current_user.dances.each do |dance| %></h3>
          <div class="menu">
           <ol><%= dance.title %></ol>
            <% end %> -->
          </div>
          </div>
        </div>
      </div>
    </div>
<!-- <div class="container-appointments-profile">
  <%= simple_form_for :profile do |f| %>
      <%= f.collection_select :dances, Dance.all, :id, :title %>
      <%= f.button :submit, method: :put %>
  <% end %>
</div> -->

