<div class="container-card-profile" style="display:flex;">
  <div class="container-profile-infos" style="height:1200px;">
    <h2><%= @profile.dance.title %></h2>
    <p><%= @profile.investissement %></p>
    <p><%= @profile.niveau %></p>
    <p><%= @profile.training_per_week %> h/week</p>
    <h2><%= 'SKILLS' %></h2>

    <div class="button">
      <%= link_to "Modifie ce profile", edit_profile_path, class:  "btn-ghost" %></a>
    </div>
    <br>
    <% @user.profiles.each do |perfil| %>
    <li><%= link_to perfil.dance.title, profile_path(perfil) %></li>
      <% end %>
    </div>
    <div class="container-profile-middle-column" style="height:1200px;">
      FIL D'ACTUALITE
    <p><%= pluralize @requests.count, "demande" %></p>
      <% @requests.each do |my_request| %>
    <div class="my-requests">
      Vous avez une nouvelle demande:<br>
      <%= my_request.user.first_name %>
      <%= my_request.user.last_name %>
      <%= my_request.user.created_at %>
      <%= image_tag my_request.user.photo %>
    </div>
    <% end %>
  </div>
  <div class="container-profile-right-column" style="height:1200px;">
      STATISTIQUES DE L'APPLICATION
    <div class="profile-feed">
      <div class="profile-feed-card-1">
        <%= pluralize @profiles.count, "profil" %>
      </div>
      <div class="profile-feed-card-1">
        <%= pluralize @users.count, "membre" %>
      </div>
      <div class="profile-feed-card-1">
        EVENEMENTS PREVUS
        <%= pluralize @appointments.count, "événement" %>
      </div>
      <div class="profile-feed-card-2" style="padding:10px;">
        <% @users.each do |user| %>
        <%= image_tag user.photo %>
        <% end %>
      </div>
    </div>
  </div>
</div>
