<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Partenaires", profile_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Edit", edit_profile_path, class:  "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:  "btn-ghost" %></a>
      </div>
    </div>
  </div>
</div>
<div class="container-card-profile">
<div class="container1">
  <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-dancers="<%= @dancers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="my_profile">
    <div class="banner-profile">
      <div class="image-profile">
        <%= image_tag (@profile_avatar) if @profile_avatar.attached? %>
      </div>
       <div class="my-informations">
        <a><%= @profile.first_name %></a>
        <a><%= @current_user.gender %></a>
        <a><%= current_user.age %> years old</a>
        <a><%= current_user.location %></a>
        <a><%= @profile.experience %> years experience</a>
      <% @my_dances.each do |dance| %>
            <%= dance %>,
            <% end %>
      </div>
    <div class="dance-query">
        <div class="query">
          <%= form_tag dances_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Quelle danse cherches-tu?"
          %>
        </div>
        <div class="button-OK">
          <%= submit_tag "Search" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="menu">
      <button class="btn btn-primary"><%= link_to "Ajouter une danse", new_dance_path %></button>
      <button class="btn btn-primary"><%= link_to "Créer un évenement", new_appointment_path %></button>
    </div>
      <div class="container-appointments-profile">
        <div class="button-block">
          <div class="titres-cadre">
            <div class="titres"><p>Mes danses</p></div>
            <div class="infos-card">
            <a><% @my_dances.each_with_index do |dance| %>
            <%= dance %><br>
            <% end %></a>
            </div>
          </div>
          <div class="titres-cadre" style="background-color: #FFFF; color:black;">
            <div class="titres"><p>Membres</p></div>
              <div class="infos-card">
                <% @users.each do |user| %>
                <%= image_tag user.photo if user.photo.attached? %>
                <%= user.first_name  %><br>
              <% end %>
            </div>
          </div>
        </div>
            <div class="accroche">
              <% @profile.appointments.each do |user_events| %>
              <div class="event-cards">
                <h2><%= user_events.name %></h2>
                <p><%= user_events.start_on %></p>
                <p><%= user_events.address %></p>
              </div>
              <% end %>
            </div>
<!--             <% @my_select_dances.each do |my_select_dance| %>
              <%= my_select_dance.title %>
            <% end %>
            <% @user_dances.each do |i| %>
            <%= i.id %>
            <%= i.title %>
            <% end %> -->
          </div>
      <!-- <div class="dances_menu">
        <select name="select-ur-dance" onchange="action('clickonMe')">
          <option value="Salsa" selected>Salsa</option>
          <option value="Bachata">Bachata</option>
          <option value="Kizomba">Kizomba</option>
        </select>
          Ma case à cocher : <input TYPE=CHECKBOX UNCHECKED name="Checkbox1" id="Checkbox1" value="Pouet" type="CHECKBOX"></br>
          <p><input type="text" name="Input1" id="Input1" value="Cliquez sur cette zone pour cocher la case via du JavaScript" size="70" onclick="fctCocherCase(1);"></p>
 -->
        <!-- <h3><% @current_user.dances.each do |dance| %></h3>
          <div class="menu">
           <ol><%= dance.title %></ol>
            <% end %> -->
          </div>
          </div>
        </div>
      </div>
    </div>

    <div id="bloc_page">
<!--     sélectionner une danse et l'ajouter à l'index des danses du profile
 -->
<!--  <div class="container-appointments-profile">
  <p>Dancing Partners te permet de choisir les danses que tu pratiques et de découvrir les partenaires et les événements de cette danse.</p>
  <p>Ici, choisis ta danse:</p>
      <%= simple_form_for @profile, url: profile_path(@profile) do |f| %>
      <%= f.collection_select :dances, Dance.all, :id, :title %>
      <%= f.button :submit, method: :update, class:"btn-ghost" %>
  <% end %>
</div>
# selectionner un événément et l'ajouter à l'agenda personnel
<div class="container-appointments-profile">
  <p>Dancing Partners te permet de choisir les événements auxquels tu veux participer.</p>
  <p>Ici, choisis ton événement:</p>
      <%= simple_form_for :appointment do |f| %>
      <%= f.collection_select :appointments, Appointment.all, :id, :name %>
      <div class="button"><%= f.button :submit, method: :put, class:"btn-ghost", id: "appointment" %></div>
  <% end %>
</div> -->


