<div class="container-card-profile" style="display:flex;">
  <div class="container-profile-infos" style="height:1200px;">
    <h2><%= @profile.dance.title %></h2>
    <p><%= @profile.investissement %></p>
    <p><%= @profile.niveau %></p>
    <p><%= @profile.training_per_week %> h/week</p>
    <p><%= @profile.level %></p>
    <p><%= @profile.xp %></p>
    <p><%= @profile.coaching_status %></p>
    <p><%= @profile.practice_a_week %></p>
    <p><%= @profile.technique %></p>
    <p><%= @profile.ambition %></p>
    <p><%= @profile.social %></p>
    <p><%= @profile.empathie %></p>
      <div class="button">
        <%= link_to "Modifie ce profile", edit_profile_path, class:  "btn-ghost" %></a>
      </div>
      TOUS MES PROFILS<br>
    <% @user.profiles.each do |perfil| %>
    <li><%= link_to perfil.dance.title, profile_path(perfil) %></li>
    <% end %>
    </div>
    <div class="container-profile-middle-column" style="height:1200px;">
      FIL D'ACTUALITE
    <p><%= pluralize @requests.count, "demande" %></p>
      <% @requests.each do |my_request| %>
    <div class="my-requests">
      Vous avez une nouvelle demande:<br>
      <%= my_request.user.first_name %>
      <%= my_request.user.last_name %>
      <%= my_request.user.created_at %>
      <%= image_tag my_request.user.photo %>
    </div>
    <% end %>
    <% if @already_compared %>
      <h3 style="color: #222222;"><strong>Compare your profile with the profile</strong></h3>
      <canvas id="graph1"
        data-user-fullname="<%= "#{@user.last_name} #{@user.first_name}" %>"
        data-profile-title="<%= @profile.dance.title %>"
        data-user-skills="<%= @user_skills.to_json %>"
        data-profile-skills="<%= @profile_skills.to_json %>"
        data-skill-names="<%= User::SKILLS.to_json %>">
      </canvas>
        <% else %>
      <div class="link">
          <h3>You will discover your detailed matching of soft skills</h3>
          <h3>related to what the recruiter is looking for after <strong>your application</strong>.</h3>
        <div class="btn-apply d-flex mt-5">
          <%= link_to "Compare", profile_meetings_path(@profile), method: :post, class:"btn-ghost" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-profile-right-column" style="height:1200px;">
      STATISTIQUES DE L'APPLICATION
    <div class="profile-feed">
      <div class="profile-feed-card-1">
        <%= pluralize @profiles.count, "profil" %>
      </div>
      <div class="profile-feed-card-1">
        <%= pluralize @users.count, "membre" %>
      </div>
      <div class="profile-feed-card-1">
        EVENEMENTS PREVUS
        <%= pluralize @appointments.count, "événement" %>
      </div>
      <div class="profile-feed-card-2" style="padding:10px;">
        <% @users.each do |user| %>
        <%= image_tag user.photo %>
        <% end %>
      </div>
    </div>
  </div>
</div>
