<h1>Profil de <%= @user.pseudo %></h1>

<%= link_to "Home", root_path %>

<%= link_to "Update your profile", edit_profile_path %>

<div class="container-profil">
  <h2>Your user name is <%= @user.pseudo %>
  <h2><%= @user.age %></h2>
  <h2><%= @user.location %></h2>
  <h2><%= @user.experience %></h2>
</div>

<div class="user-dances">
  <h3>My dances</h3>
  <h2><% @user.dances.each do |user_dance| %>
    <div class="list-mydances">
     <h2><%= dance.title %></h2>
    </div>
    <% end %>
</div>

<div class="user-partners">
  <h3>My partners</h3>
</div>
<div class="user-addon">
  <h3>Add a video</h3>
</div>
