<div class="title-profile">
  <h1>Dancing Partners</h1>
  <p>The First WorldWide Dancers Community</p>
</div>
<div class="section">
  <div class="row">
    <div class="column">
      <a class="link"><%= link_to "Profile", profile_path, class: "btn-ghost" %></a>
    </div>
    <div class="column">
      <a class="link"><%= link_to "Dances", dances_path, class: "btn-ghost" %></a>
    </div>
    <div class="column">
      <a class="link"><%= link_to "Events", appointments_path, class: "btn-ghost" %></a>
    </div>
    <div class="column">
      <a class="link"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class:  "nav-link" %></a>
    </div>
  </div>
</div>
<div class="container1">
  <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="my_profile">
    <div class="container-card-profile">
      <div class="image-profile">
        <h2><%= @user.photo %></h2>
      </div>
       <div class="my-informations">
        <a><%= @user.first_name %></a>
        <h1><%= @user.last_name %></h1>
        <p><%= @user.experience %> years dancing</p>
        <p><%= @user.location %></p>
        <p><%= @user.age %></p>
      </div>
      </div>
      <div class="container-appointments-profile">
        <p> Mes danses </p>
        <% @my_dances.each do |dance| %>
      <div class="appointment-card">
        <%= link_to dance, dances_path(dance) %>
      </div>
    <% end %>
  </div>
  <div class="menu">
    <%= link_to "Ajoute ta danse", new_dance_path %>
    <%= link_to "Les danses", dances_path %>
    <%= link_to "Agenda d'évenements", appointments_path %>
    <%= link_to "Crée ton évenement", new_appointment_path %>
  </div>
</div>

<!-- <div class="container-appointments-profile">

  <%= simple_form_for :user do |f| %>
      <%= f.collection_select :dance_id, Dance.all, :id, :title %>
      <%= f.button :submit, method: :put %>
  <% end %>
</div> -->

