<div class="user-infos">
  <h2>Hello <%= @user.pseudo %></h2>
  <div class="user-addon">
    <h3><%= link_to "Home", root_path %><h3>
    <h3><%= link_to "Meet all partners", partners_path %></h3>
    <h3><%= link_to "See all dances", dances_path %></h3>
    <h3><%= link_to "Update your profile", edit_profile_path %></h3>
    <h3><%= link_to "Add a video" %></h3>
    <h3><%= link_to "Create an event" %></h3>
  </div>
</div>

<div class="show-profile">
  <div class="container-left">
    <div>
    <div class="user-details">
      <h1><%= @user.pseudo %></h1>
      <h2><%= @user.location %></h2>
      <h2><%= @user.age %> years old</h2>
      <h2><%= @user.experience %> years dancing XP</h2>
    </div>
    <div class="user-dances">
      <div class="cards">
      <h3>You have <%= @user.dances.count %> dances selected</h3>
      LIST OF ALL DANCES by NAME<br>
        <% @user.dances.each do |style| %>
        <%= style.title %>
        <% end %>
    <div class="pt-30 row justify-content-center">
      <div class="col-12 col-md-4">
        <h4 class="text-center">Add a dance</h4>
        <%= simple_form_for @dance do |f| %>
          <div class="fields">
            <%= f.label :dance %><br>
            <%= f.input :title, placeholder: @dance %>
            <%= f.submit "Add", class: "btn btn-flat" %>
          </div>
          <div class="actions">
          </div>
        <% end %>
      </div>
    </div>
    </div>
      <h3>MY DANCES</h3>
    </div>
<div class="pt-30 container">
  <div class="cards">
    <% @user.dances.each do |dance| %>
      <%= render "dances/dance_card", dance: dance %>
    <% end %>
  </div>
  <div class="pt-30 row justify-content-center">
    <div class="col-12 col-md-4">
      <h4 class="text-center">Add a dance</h4>
        <%= simple_form_for [ @dance ] do |f| %>
        <%= f.input :title, placeholder: "Your Dance" %>
      <div class="form-actions">
        <%= f.submit "Add", class: "btn btn-flat" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="your-Xp">
  <h3>Experiences</h3>
  <h2><%= link_to "Add an experience", edit_profile_path %></h2>
</div>

