<div class="container-card-profile" style="display:flex;">
  <div class="container-profile-infos" style="height:1200px;">
    <h2>
      <p><%= @profile.dance.title %></p>
      <p><%= @profile.level %></p>
      <p><%= @profile.niveau %></p>
      <p><%= @profile.investissement %></p>
      <p><%= @profile.training_per_week %></p>
    </h2>
    <h2>
      <%= 'SKILLS' %>
      <a><%= @profile.level %></a>
      <a><%= @profile.xp %></a>
      <a><%= @profile.coaching_status %></a>
      <a><%= @profile.practice_a_week%></a>
      <a><%= @profile.ambition %></a>
      <a><%= @profile.empathie %></a>
      <a><%= @profile.social %></a>
    </h2>
    <div class="button">
      <%= link_to "Modifie ce profile", edit_profile_path %></a>
    </div>

    <div class="button">
      <%= button_to "Destroy", user_profile_path(@profile), method: :delete %>
    </div>
    <br>
    <% @user.profiles.each do |perfil| %>
    <li><%= link_to perfil.dance.title, profile_path(perfil) %></li>
    <%= link_to "Supprime ce profile",  user_profile_path(perfil.id), method: :delete %>
      <% end %>
    </div>
    <div class="container-profile-middle-column" style="height:1200px;">
      FIL D'ACTUALITE
    <p><%= pluralize @requests.count, "demande" %></p>
      <% @requests.each do |my_request| %>
    <div class="my-requests">
      Vous avez une nouvelle demande:
      <br>
        <%= my_request.user.first_name %>
        <%= my_request.user.last_name %>
        <%= my_request.user.created_at %>
        <%= image_tag my_request.user.photo %>
      <br>
    </div>
    <% end %>
  </div>
  <div class="container-profile-right-column" style="height:1200px;">
      STATISTIQUES DE L'APPLICATION
    <div class="profile-feed">
      <div class="profile-feed-card-1">
        <%= pluralize @profiles.count, "profil" %>
      </div>
      <div class="profile-feed-card-1">
        <%= pluralize @users.count, "membre" %>
      </div>
      <div class="profile-feed-card-1">
        EVENEMENTS PREVUS
        <%= pluralize @appointments.count, "événement" %>
      </div>
      <div class="profile-feed-card-2" style="padding:10px;">
        <% @users.each do |user| %>
        <%= image_tag user.photo %>
        <% end %>
      </div>
    </div>
  </div>
</div>
