<div class="cont-input-new">
  <div class="container-card-profile">
    <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs-registration">
        <%= f.label :genre %><br>
        <%= f.select :gender, User::GENDER_TYPES.map { |gender| [gender] } %><br>
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Ton prénom" }%>
<!--          <%= f.input :last_name,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "Ton nom" }%> -->
        <%= f.input :city,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Ta ville" }%>
        <%= f.label :experience %>
        <%= f.select :gender, User::EXPERIENCE.map { |experience| [experience] } %><br>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :contact,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "Ton numéro de téléphone" }%>
        <%= f.input :age,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "Ton âge" }%>
        <%= f.input :location,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Ton adresse" }%>
        <%= f.input :website,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "URL" }%>
        <%= f.label :photo %><br>
        <%= f.file_field :photo, as: :file %>
      </div>

        <div class="mb-6">
          <%= f.submit "S'inscrire", class: "btn btn-default block w-full text-center", method: :post %>
        </div>
    <% end %>
  </div>
</div>
