<%= link_to 'Home', root_path %>
        <h2>Edit user</h2>
        <%= form_for :user, url: user_session_path do |f| %>
          <p>
            <%= f.label :name %><br>
            <%= f.text_field :first_name %>
          </p>

          <p>
            <%= f.label :age %><br>
            <%= f.text_field :age %>
          </p>
          <p>
            <%= f.label :experience %><br>
            <%= f.text_field :experience %>
          </p>
          <p>
            <%= f.label :address %><br>
            <%= f.text_area :location %>
          </p>
          <p>
            <%= f.label :email %><br>
            <%= f.text_field :email %>
          </p>

          <p>
            <%= f.label :photo %><br>
            <%= f.file_field :photo %>
          </p>

          <p>
            <%= f.submit %>
          </p>
        <% end %>
