<h1><%= @partner.name %></h1>
<h1><%= @style %></h1>

<div class="infos-partner">
  <h3><%= @partner.gender %></h3>
  <h3><%= @partner.age %></h3>
  <h3><%= @partner.experience %></h3>
  <h3><%= @partner.location %></h3>
</div>
<%= link_to "Back", :back %>
