<h1>Dancing Partners</h1>

<h3><%= @partner.name %></h3>

<h3><%= @partner.gender %></h3>
<h3><%= @partner.age %></h3>
<h3><%= @partner.experience %></h3>
<h3><%= @partner.location %></h3>

<%= link_to "all partners dances", partner_partners_dances_path(dance) %>
