<%= link_to "Back", :back %>

<div class="container-partner">
    <h1><%= @partner.pseudo %></h1>
    <h2><%= link_to @dance, dance_url %></h2>
  <div class="infos-partner">
    <h3><%= @partner.gender %></h3>
    <h3><%= @partner.age %></h3>
    <h3><%= @partner.experience %></h3>
    <h3><%= @partner.location %></h3>
  </div>
</div>
<%= link_to "Back", :back %>
