<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Mon Profil", user_path(current_user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Edit", edit_user_path(current_user), class:  "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a>
      </div>
    </div>
  </div>
</div>

<div class="container-card-profile" style="display:flex">
  <div class="contain-2">
    <% @users.each do |i| %>
    <div class="card-community">
      <ul>
        <%= i.id %>
        <li><%= link_to i.first_name, user_profiles_path(i) %></li>
        <li>AGE: <%= i.age %></li>
        <li>LOCATION: <%= i.location %></li>
        <li>XP: <%= i.experience %></li>
        <li>Danses:
          <% i.profiles.each do |user_profile| %>
            <ul>
              <li><%= user_profile.dance.title %></li>
              <ul><li><%= user_profile.id %></li></ul>
              <ul><li><%= user_profile.investissement %></li></ul>
              <ul><li><%= user_profile.niveau %></li></ul>
              <ul><li><%= user_profile.user.first_name %></li></ul>
              <ul><li><%= user_profile.user.age %></li></ul>
              <ul><li><%= user_profile.user.location %></li></ul>
            </ul><br>
            <% end %>
        </li>
        <li><%= link_to "See More Details", user_profiles_path(i) %></li>
      </ul>
    </div>
    <% end %>
  </div>
  <div class="colonne-droite">
    <div class="contain-3">
      <div class="card-search-types">
      <%= simple_form_for users_path, method: :get do |f| %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "qui? quoi?" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
    <div class="contain-3">
      <div class="card-search-types">
      critères de recherche n°2: où? comment?
        <%= simple_form_for users_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "qui? quoi?" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
    <div class="contain-3">
      <div class="card-search-types">
      critères de recherche n°3: quand?
      <%= form_tag users_path, method: :get do %>
        <%= text_field_tag :query, params[:user], class: "form-control", placeholder: "recherche par pseudo" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
    <div class="contain-4">
      <div class="card-search-types">
      Résultats de la recherche
      </div>
    </div>
  </div>
</div>
