<html>
<head>
  <title>Hello World 4</title>
</head>
<body>
  <%= @user.first.dance_id %>

  <% @users.each do |i| %>
  <ul>
    <%= i.id %>
    <li><%= link_to i.first_name, user_path(@user) %></li>
    <li>AGE: <%= i.age %></li>
    <li>LOCATION: <%= i.location %></li>
    <li>XP: <%= i.experience %></li>
    <li>Danses:
      <% i.profiles.each do |user_profile| %>
        <ul>
          <li><%= user_profile.dance.title %></li>
          <ul><li><%= user_profile.id %></li></ul>
        </ul><br>
        <% end %>
    </li>
    <li>Danse favorite: <%= i.dance_id %> <%= User.find_by(dance_id: i.dance_id).first_name%>
    </li>

  </ul>
  <% end %>
  <% @dances.each do | dance | %>
  <%= dance.title %>
  <% end %><br>
  <%= Dance.find_by(id: 3).title %>
</body>

<script type="text/javascript">

</script>


</html>

