
  <%= @user.first.dance_id %>
<h1>INDEX DES UTILISATEURS</h1>
  <% @users.each do |i| %>
  <ul>
    <%= i.id %>
    <li><%= link_to i.first_name, user_path(@user) %></li>
    <li>AGE: <%= i.age %></li>
    <li>LOCATION: <%= i.location %></li>
    <li>XP: <%= i.experience %></li>
    <li>Danses:
      <% i.profiles.each do |user_profile| %>
        <ul>
          <li><%= user_profile.dance.title %></li>
          <ul><li><%= user_profile.id %></li></ul>
        </ul><br>
        <% end %>
    </li>
    </li>
  </ul>
  <% end %>
