
<div class="container-show-profile">
  <div class="container1">
      <!-- <div class ="container-map">
          <div id="resultats"
          data-my-appointments="<%= @appointments_selected.to_json %>">
          </div>
          <div id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div id='map' style='width: 100%; height: 100%;'></div>
      </div> -->
    <div class="my_profile">
        <div class="dance-query">
          <div class="query">
            <%= form_tag dances_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Cherche ta danse" %>
          </div>
          <div class="button-OK">
            <%= submit_tag "Search", class: "btn-primary" %>
          </div>
          <% end %>
        </div>

          <div class="banner-profile">
            <div class="image-profile">
              <%= cl_image_tag current_user.photo.key if current_user.photo.attached? %>
            </div>
            <div class="my-informations">
              <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
              <a><%= current_user.gender %></a><br>
              <a><%= current_user.age %> years old</a><br>
              <a><%= current_user.location %></a><br>
              <a><%= current_user.experience %> years experience</a><br>
            </div>
            <div class ="menu-block">
              <h5>
                <%= pluralize current_user.reviews.size, "review" %><br>
                <%= link_to "See all reviews", user_reviews_path(current_user) %><br>
                <%= link_to "See all requests", user_requests_path(current_user) %><br>
                <%= link_to "Edit my profile", edit_user_path(current_user) %><br>
              </h5>
            </div>


  </div>
      <div class="container-appointments-profile">
        <div class="button-block">
          <div class="titres-cadre">
            <div class="titres">
              <p>Mes profils danses <%= link_to "+", dances_path %></p>
            </div>
              <% if @user.profiles.blank? %>
            <div class="infos-card" >
              <div class="ecriture">
                <%= link_to "Sélectionnez vos danses en cliquant ici", dances_path %><br></a>
              </div>
            </div>
              <% else %>
            <div class="infos-card" >
              <% @user.profiles.each do |pro_file| %>
            <div class="carte-profil" >
              <%= link_to pro_file.dance.title, profile_path(pro_file) %>
              <%= button_to 'Destroy', profile_path(pro_file), method: :delete %>
              <%= link_to "Edit", edit_profile_path(pro_file) %>
              <i class="bi bi-pen"></i>
              <ul>
                <a><%= pro_file.investissement %></a>
                <a><%= pro_file.niveau %></a>
                <a><%= pro_file.training_per_week %> hours/week</a>
              </ul>
            </div>
                <% end %>
              </div>
            <% end %>
        </div>

        <div class="titres-cadre" style="background-color: #FFFF; color:black;">
          <div class="titres"><p>Membres</p></div>
            <div class="infos-card-2" style="padding:10px;">
              <% @users.each do |user| %>
              <div class="profile-unique" style="margin-right:auto; margin-left:auto;">
                <%= cl_image_tag user.photo.key if user.photo.attached? %><br>
                <a><%= link_to user.first_name, user_profiles_path(user)  %></a>
              </div>
            <% end %>
            </div>
        </div>

        <div class="titres-cadre" style="background-color: #FFFF; color:black;">
          <div class="titres"><p>Vous avez effectué ces demandes</p>
            <div class="infos-card">
              <% current_user.requests.each do |r| %>
              <%= r.profile.dance.title %> with <%= r.profile.user.first_name %><br>
              <% end %>
            </div>
          </div>
        </div>

        <div class="titres-cadre" style="background-color: #FFFF; color:black;">
          <div class="titres">
            <p>Vous avez reçu ces demandes</p>
              <div class="infos-card">
                <% @dancing_partners.each do |dancing_partner| %>
                <%= dancing_partner.user.first_name %> wants to dance <%= dancing_partner.profile.dance.title %><br>
                <%= link_to "Voir la demande", requests_path(dancing_partner) %><br>
              <% end %>
              </div>
          </div>
        </div>

          <div class="my-event" style="display:grid;
                                        grid-template-columns: 1fr 1fr;
                                        grid-gap: 10px;
                                        grid-auto-rows: minmax(5px, auto);">
            <% current_user.appointments.each do |user_events| %>
              <div class="card-my-event">
                <div class="one-event">
                  <%= image_tag user_events.pic if user_events.pic.attached? %>
                  <a><%= user_events.name %></a>
                  <a><%= user_events.start_on %></a>
                  <a><%= user_events.address %></a>
                  <a><%= link_to "Voir sur la carte", appointments_path %></a>
                </div>
              </div>
            <% end %>

          </div>
          <div class="my-event" style="display:grid;
                                        grid-template-columns: 1fr 1fr;
                                        grid-gap: 10px;
                                        grid-auto-rows: minmax(5px, auto);">
            <% current_user.subscriptions.each do |subscription| %>
              <div class="card-my-event">
                <div class="one-event">
                  <%= image_tag subscription.appointment.pic if subscription.appointment.pic.attached? %>
                  <a><%= subscription.appointment.name %></a>
                  <a><%= subscription.appointment.start_on %></a>
                  <a><%= subscription.appointment.address %></a>
                  <a><%= link_to "Voir sur la carte", appointments_path %></a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYW50bWFuNDMiLCJhIjoiY2x3eHk0aWF1MWY2bzJucjFodnEwemRwayJ9.O7VyKyjd4FebVbtQPuGj7g';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11'
        });
      </script>
    </div>
  </div>


