<div class="container-card-profile">
  <div class="container1">
    <div class="my_profile">
      <div class="dance-query">
        <div class="query">
          <%= form_tag dances_path, method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Cherche ta danse" %>
        </div>
        <div class="button-OK">
          <%= submit_tag "Search", class: "btn-primary" %>
        </div>
        <% end %>
      </div>
      <div class="banner-profile">
        <div class="image-profile">
          <%= image_tag current_user.photo if current_user.photo.attached? %>
        </div>
        <div class="my-informations">
          <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
          <a><%= current_user.gender %></a><br>
          <a><%= current_user.age %> years old</a><br>
          <a><%= current_user.location %></a><br>
          <a><%= current_user.experience %> years experience</a><br>
        </div>
          <div class ="menu-block">
            <h5>
              <%= pluralize current_user.reviews.size, "review" %><br>
              <%= link_to "See all reviews", user_reviews_path(current_user) %><br>
              <%= link_to "See all requests", user_requests_path(current_user) %><br>
              <%= link_to "Edit my profile", edit_user_path(current_user) %><br>
            </h5>
          </div>
      </div>
      <div class="container-appointments-profile">
        <div class="button-block">
          <div class="titres-cadre">
            <div class="titres">
              <p>Mes profils danses <%= link_to "+", dances_path %></p>
            </div>
              <% if @user.profiles.blank? %>
            <div class="infos-card" >
              <div class="ecriture">
                <%= link_to "Sélectionnez vos danses en cliquant ici", dances_path %><br></a>
              </div>
            </div>
              <% else %>
            <div class="infos-card" >
              <% @user.profiles.each do |pro_file| %>
            <div class="carte-profil" >
              <%= link_to pro_file.dance.title, profile_path(pro_file) %>
              <%= link_to 'Destroy', profile_path(pro_file), :method => :delete, id: 'pro_file.id' %>
              <%= link_to "Edit", edit_profile_path(pro_file) %>
              <i class="bi bi-pen"></i>
              <ul>
                <a><%= pro_file.investissement %></a>
                <a><%= pro_file.niveau %></a>
                <a><%= pro_file.training_per_week %> hours/week</a>
              </ul>
            </div>
                <% end %>
              </div>
            <% end %>
        </div>
        <div class="titres-cadre" style="background-color: #FFFF; color:black;">
          <div class="titres"><p>Top Membres</p></div>
            <div class="infos-card-2" style="padding:10px;">
              <% @users.each do |user| %>
              <div style="margin-right:auto; margin-left:auto;">
                <%= image_tag user.photo if user.photo.attached? %><br>
                <a><%= link_to user.first_name, user_profiles_path(user)  %></a>
              </div>
            <% end %>
            </div>
        </div>
        <div class="titres-cadre" style="background-color: #FFFF; color:black;">
          <div class="titres"><p>Planning</p></div>
            <div class="infos-card">
                <% current_user.requests.each do |r| %>
                <%= r.profile.dance.title %> with <%= r.profile.user.first_name %><br>
                <% end %>
            </div>
          </div>
          <div class="titres-cadre" style="background-color: #FFFF; color:black;">
            <div class="titres">
              <p>Demandes</p>
            </div>
              <div class="infos-card">
                  <% @dancing_partners.each do |dancing_partner| %>
                  <%= dancing_partner.user.first_name %> wants to dance <%= dancing_partner.profile.dance.title %><br>
                  <%= link_to "Voir la demande", user_requests_path(dancing_partner) %><br>
                  <%= link_to "Voir la demande 2", requests_path(dancing_partner.user) %><br>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class ="map-display" style="position:unset;">
      <div id="map">
      </div>
    </div>
  </div>
</div>
<div class="accroche">
  <% current_user.appointments.each do |user_events| %>
  <div class="event-cards" style="background-color: #FFFF; color:black;">
    <p><%= image_tag user_events.pic if user_events.pic.attached? %></p>
    <p><%= user_events.name %></p>
    <p><%= user_events.start_on %></p>
    <p><%= user_events.address %></p>
    <p><%= link_to "Voir sur la carte", appointments_path %></p>
  </div>
  <% end %>
</div>


