<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Edit", edit_user_path, class:  "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a>
      </div>
    </div>
  </div>
</div>
<div class="container-card-profile">
<div class="container1">
  <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-dancers="<%= @dancers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="my_profile">
    <div class="banner-profile" style="height:300px">
      <div class="image-profile">
        <%= image_tag current_user.photo if current_user.photo.attached? %>
      </div>
       <div class="my-informations">
        <a><%= current_user.first_name %> <%= current_user.last_name %></a>
        <a><%= current_user.gender %></a>
        <a><%= current_user.age %> years old</a>
        <a><%= current_user.location %></a>
        <a><%= current_user.experience %> years experience</a>
        <a>My events</a><br>
        <% @my_dances.each do |dance| %>
          <li><%= dance %></li>
        <% end %>
        </div>
        <div class="dance-query" style="width:90%;">
          <div class="query">
            <%= form_tag dances_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Trouve ta communauté"
            %>
          </div>
        <div class="button-OK">
          <%= submit_tag "Search" %>
          <% end %>
        </div>
      </div>
      </div>
    <div class="menu">
      <button class="btn btn-primary"><%= link_to "Ajouter une danse", new_dance_path %></button>
      <button class="btn btn-primary"><%= link_to "Créer un évenement", new_appointment_path %></button>
    </div>
      <div class="container-appointments-profile">
        <div class="button-block">
          <div class="titres-cadre">
            <div class="titres">
              <p>Mes profils danses <%= link_to "+", dances_path %></p>

            </div>
            <div class="infos-card">
              <% if @user.profiles.blank? %>
                <a>Vous n'avez encore aucun profil de danseur.<br>Sélectionnez vos danses.<br></a>
              <% else %>
              <% @user.profiles.each do |i_profile| %>
              <a><%= link_to i_profile.dance.title, profile_path(i_profile) %>
              <%= link_to "X", profile_path(i_profile), :confirm => "Are you sure?", method: :delete, id: 'profile.id' %>
              <%= link_to "Edit", edit_profile_path(i_profile), class:  "btn-ghost" %></a>
                <ul>
                  <li><%= i_profile.investissement %></li>
                  <li><%= i_profile.niveau %></li>
                </ul>
              <% end %></a>
            <% end %>
            </div>
          </div>
          <div class="titres-cadre" style="background-color: #FFFF; color:black;">
            <div class="titres"><p>Partenaires</p></div>
              <div class="infos-card">
                <% @users.each do |user| %>
                <%= image_tag user.photo if user.photo.attached? %>
                <%= link_to user.first_name, user_profiles_path(user)  %><br>
              <% end %>
            </div>
          </div>
        </div>
            <div class="accroche">
              <% current_user.appointments.each do |user_events| %>
              <div class="event-cards">
                <h2><%= user_events.name %></h2>
                <p><%= user_events.start_on %></p>
                <p><%= user_events.address %></p>
              </div>
              <% end %>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
<script>
  map.flyTo({
center: [
-74.5 + (Math.random() - 0.5) * 10,
40 + (Math.random() - 0.5) * 10
],
essential: true // this animation is considered essential with respect to prefers-reduced-motion
});
  //map.setCenter([12, -27]);//[<% current_user.location %>]);
  //map.setZoom(10);
</script>


