<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
          <% if current_user == nil %>
            <div class="column">
              <a class="link"><%= link_to "Connexion", new_user_session_path, class: "btn-ghost" %></a>
            </div>
            <div class="column">
              <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
            </div>
            <div class="column">
              <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
            </div>
            <div class="column">
              <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
            </div>
          <% else %>
            <div class="column">
              <a class="link"><%= link_to "Profil", user_path(current_user), class: "btn-ghost" %></a>
            </div>
            <div class="column">
              <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
            </div>
            <div class="column">
              <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
            </div>
            <div class="column">
              <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
            </div>
            <div class="column">
              <a class="link"><%= link_to "Edit", edit_user_path(current_user), class: "btn-ghost" %></a>
            </div>
            <div class="column">
              <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a>
            </div>
          <% end %>
      </div>
  </div>
</div>

