    <% if current_user == nil %>
<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Connexion", new_user_session_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
      </div>
    </div>
  </div>
</div>
    <% else %>
<div class="title-profile">
  <div class="navbar-sup" style="display:flex;">
    <div class="titres-navbar" style="margin-right:283px;margin-left:auto;">
      <h1><%= link_to "Dancing Partners", root_path %></h1>
      <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
    </div>
    <div class="current-user-avatar" style="padding:20px;">
      <%= image_tag current_user.photo if current_user.photo.attached? %><br>
      <a>Hello <%= current_user.first_name %>!</a>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Profil", user_path(current_user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Evénements", appointments_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Edit", edit_user_path(current_user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a>
      </div>
    </div>
  </div>
</div>
    <% end %>

