<div class="title">
  <h1>Dances</h1>
</div>
<div class="container-dances">
  <%= link_to "Home", root_path %>
  <%= link_to "Create a Dance", new_dance_path %>
  <h1> Dancing Partners has <%=  @style.count %> dances </h1>
    <div class="dances">
      <% @dances.each do |dance| %>
    <div class="card-dances">
      <h3><%= link_to dance.title, dance_path(dance) %></h3>
        <p><%=  @dancers.count %> partners</p>
    </div>
    <% end %>
  </div>
  <%= link_to "Back", :back %>
</div>
