<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;  justify-content:space-between;">
  <div class="logo">
    <div class="logo-text">
      <h1>Dancing Partners</h1>
    </div>
  </div>
    <%= link_to "Back", :back %>
    <%= link_to "Home", root_path %>
    <%= link_to "My profile", profile_path %>
  </div>
<div class="container-dances">
  <h2> Dancing Partners has found <%=  @style.count %> result(s) </h2>
  <div class="search1">
    <%= form_tag dances_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a dance"
    %>
    <%= submit_tag "Search", class: "b-prima" %>
    <% end %>
  </div>
  <div class="dances">
      <% @dances.each do |dance| %>
    <div class="card-dances">
      <h3><%= link_to dance.title, dance_path(dance) %></h3>
    </div>
    <% end %>
  </div>
    <%= link_to "Back", :back %>
  </div>
