<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;  justify-content:space-between;">
  <div class="logo">
    <div class="logo-text">
      <h1>Dancing Partners</h1>
    </div>
  </div>
<%= link_to "Back", :back %>
<%= link_to "Home", root_path %>
<%= link_to "My profile", profile_path %>
</div>

<div class="container3">
  <div class="container-appointments">
    <div class="appointment-card2">
      <h2>Meet the <%= link_to @style, dance_path(@dance) %> worldwide community</h2>
      <div class="add-dance">
        <%= link_to "Select this dance", dance_profile_path(@user) %>
        <%= link_to "Choose", profile_path(@dance.id),method: :patch, class:"btn-ghost", id: "dance" %>
        <%= link_to "Create an Event for this dance", new_appointment_path(@dance.id),method: :patch, class:"btn-ghost", id: "dance" %>
      </div>
    </div>
  </div>
</div>

