<h1>Dancing Partners</h1>
  <h1><%= link_to @style, dances_path(@dance) %></h1>

<div class="add-dance">
  <%= link_to "Select this dance", profile_path(@user.dances),method: :get, id: "dance" %>

</div>

<div class="bouton-home">
  <%= link_to "Home", root_path %>
</div>


<div class="bouton">
  <%= @dancer.each do |dance_man| %>
  <%= dance_man.pseudo %>
  <% end %>
  <br>
  <%= @list.each do |man| %>
  <% puts man %>
  <% end %>
</div>
