<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;  justify-content:space-between;">
  <div class="logo">
    <div class="logo-text">
      <h1>Dancing Partners</h1>
    </div>
  </div>
<%= link_to "Back", :back %>
<%= link_to "Home", root_path %>
<%= link_to "My profile", profile_path %>
</div>

<h1><%= link_to @style, dance_path(@dance) %></h1>

<div class="add-dance">
  <%= link_to "Select this dance", profile_path(@my_dances) %>
  <%= link_to "Choose", profile_path(@dance.id),method: :patch, class:"btn-ghost", id: "dance" %>
</div>

<div class="bouton-home">
  <%= link_to "Home", root_path %>
</div>

<div class="container3">
  <div class="bouton">
  <div class="card-partner">

  </div>

  </div>
  <div class="news">
      <h2>NEWS</h2>
    <div class="card-news">
      <h3>< **** is looking for a partner ></h3>
    </div>
  </div>
</div>

