<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;  justify-content:space-between;">
  <div class="logo">
    <div class="logo-text">
      <h1>Dancing Partners</h1>
    </div>
  </div>
    <%= link_to "Back", :back %>
    <%= link_to "Home", root_path %>
    <%= link_to "My profile", profile_path %>
  </div>
<div class="container3">
  <div class="container-appointments-dances">
    <div class="appointment-card2">
      <p>Carte de la communauté</p>
      <h1><%= link_to @style, dance_path(@dance) %></h1>
      Cette communauté contient <%= @partners_of_this_dance.count %> partenaires <br>
      <% @partners_of_this_dance.each do |member| %>
      <li><%= member.user.first_name %></li>
      <% end %><br>
      Dancing Partners Total Number <a><%= @profiles.count %> </a>
        <p><%= @appointments_on_map.count %> événement(s)</p>
      <div class="add-dance">
        <div class="button"><a><%= link_to "Ajouter à ma sélection", dance_profiles_path(@dance), method: :post %></a></div>
        <div class="button"><a><%= link_to "Choisir comme danse favorite", dance_profiles_path(@dance), method: :patch %></a></div>
        <div class="button"><a><%= link_to "Créer", new_appointment_path(@dance.id), method: :get, class:"btn btn-primary", id: "dance" %></a></div>
      </div>
      <div id="map"
       data-markers="<%= @markers.to_json %>"
       data-dancers="<%= @dancers.to_json %>"
       data-events="<%= @events.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  <div class="events-list">
    <p><%= @appointments_on_map.count %> événement(s)</p>
    <% @appointments_on_map.each do |an_event| %>
    <div class="appointment-card">
      <%= an_event.name %>
      <%= an_event.address %><br>
    </div>
    <% end %>
  </div>
      <% @event_managers.each do |manager| %>
      <%= manager.first_name %>
      <%= manager.location %>
    <% end %>
    </div>
  </div>
</div>

