<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Mon Profil", user_path(current_user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
      </div>
      <div class="column">
        <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a>
      </div>
    </div>
  </div>
</div>

<div class="container-card-profile">
  <% @requests.each do |r| %>
  <div style="border:solid; width:200px; height:200px;">
  <h3>RDV n°<%= r.id %></h3>
  <%= r.user.first_name %> wants to meet
  <%= r.profile.user.first_name %> to dance
  <%= r.profile.dance.title %>
  </div>
  <br>
  <% end %>
</div>
