<div class="container">
  <div class="title">
    <h1>Dancing Partners</h1>
    <p>The First WorldWide Dancers Community</p>
    <%= link_to "Discover", "#how", class: "btn btn-flat" %>
  </div>

  <div class="section">
    <div class="text-center">
      <%= link_to "Create my profile", profile_path, class: "btn btn-flat" %>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Dancers Worldwide", partners_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Go to your profile", profile_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "See all dances", dances_path, class: "btn-ghost" %></a>
      </div>
    </div>
  </div>
</div>

