<div class="background">
  <div class="container">
    <div class="title">
      <h1><%= "Dancing Partners" %></h1>
      <p>The First WorldWide Dancers Agenda Community</p>
    </div>
    <div class="section">
      <div class="row">
        <div class="column">
          <a class="link"><%= link_to "Profil", user_path(current_user), class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Edit", edit_user_path(current_user), class: "btn-ghost" %></a>
        </div>
        <div class="column">
          <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a>
        </div>
      </div>
    </div>
    <div class="search2">
      <%= form_tag dances_path, method: :get do %>
      <%= text_field_tag :query, params[:dance], class: "form-control", placeholder: "Enter your dance and find your community" %>
      <%= submit_tag "Search", class: "b-primary" %>
      <% end %>
    </div>
  </div>
  <script type="text/javascript">
    document.getElementById("Bonjour").innerHTML="DancingPartners";
    alert("Bienvenue");
    document.forms.formulaire.select.blur();
  </script>
</div>
