<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;">
  <div class="logo">
    <div class="logo-text">
      <h1>Dancing Partners</h1>
    </div>
  </div>
  <div class="menu-navbar">
    <%= link_to "Back", :back %>
    <%= link_to "Home", root_path %>
    <%= link_to "My profile", profile_path %>
  </div>
</div>
  <div class="title_text">
    <p>Check all the events online</p>
  </div>
  <div class="title_text">
    <p><%= link_to "Create an event", new_appointment_path %></p>
  </div>
    <div class ="container-appointments">
      <% @appointments.each do |appointment| %>
    <div class="appointment-card3">
        <p><%= link_to appointment.name, appointments_path(appointment) %></p>
        <p> This event is located in <%= appointment.address %></p>
        <p> This event starts on <%= appointment.start_on %></p>
        <p> This event ends on <%= appointment.end_on %></p>
        <p> This event is created by <%= appointment.user.first_name %></p>
    </div>
    <% end %>
  </div>
