<div class="container-card-profile">
  <div class="map-n-card">
    <div class="bouton-n-card">
      <h3>Rechercher un événement</h3>
          <%= form_tag appointments_path, method: :get do %>
            <%= text_field_tag :query, params[:appointment], class:"form-control", placeholder: "Lieu, ville ou événement" %>
            <%= submit_tag "Search", class:"btn btn-primary" %>
          <% end %>
        <div class="title_text">
          <p><%= link_to "Crée ton évenement", new_appointment_path, class:"btn btn-primary", id: "dance" %></p>
        </div>
        <div class ="container-appointments">
          <% @appointments.each do |appointment| %>
          <div class="appointment-card3">
            <div class="image-card-appointments">
              <%= image_tag appointment.pic if appointment.pic.attached? %>
            </div>
            <div class="information-event">
              <div id="event-uptitle">
                <h3><%= appointment.name  %></h3>
                <a><%= appointment.address %></a>
              </div>
              <div id="event-subinformations">
                <p> <%= appointment.dance.title %></p>
                <p> <%= appointment.user.first_name %></p>
                <p> Début: <%= appointment.start_on %></p>
                <p> Fin: <%= appointment.end_on %></p>
              </div>
            </div>
            <div id="click-participate">
              <input type="submit" class="btn btn-primary" value="Je participe"></div>
            </div>
      <% end %>
        </div>
    </div>
    <div class="container-map">
      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="container text-center">
    <ul id="results" class="list-inline"></ul>
  </div>
</div>
<script>
  var initClickMe;
  document.querySelector("#click-participate").addEventListener('click', function(){
  initClickMe = document.querySelector("#event-subinformations p")
  console.log(initClickMe)
   });
  var xhr = new XMLHttpRequest();

  xhr.openreadystatechange = function() {
    console.log(this)
  }

  xhr.open("GET", "javascript/application.js", true);
  xhr.send();
</script>

