<div class="title-profile">
  <h1><%= link_to "Dancing Partners", root_path %></h1>
  <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
  <div class="section">
    <div class="row">
      <div class="column">
        <a class="link"><%= link_to "Mon Profil", user_path(current_user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Communauté", users_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Danses", dances_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Agenda", appointments_path, class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Edit your profile", edit_user_path(current_user), class: "btn-ghost" %></a>
      </div>
      <div class="column">
        <a class="link"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a>
      </div>
    </div>
  </div>
</div>
<div class="container-card-profile">
  <%= simple_form_for (@appointment) do |f| %>
    <div class="container_one">
      <%= f.input :start_on %>
      <%= f.input :end_on %>
      <%= f.input :name, placeholder: "Donne un nom à ton événement" %>
      <%= f.input :address %>
      <%= f.collection_select :dance_id, Dance.all, :id, :title, prompt: true %>
      <%= f.file_field :pic, as: :file %>
      <%= f.button :submit, method: :post %>
    </div>
  <% end %>
</div>
