<div class="container-card-profile">
  <%= simple_form_for (@appointment) do |f| %>
    <div class="container_one">
      <%= f.input :start_on %>
      <%= f.input :end_on %>
      <%= f.input :name, placeholder: "Donne un nom à ton événement" %>
      <%= f.input :address %>
      <%= f.collection_select :dance_id, Dance.all, :id, :title, prompt: true %>
      <%= f.file_field :pic, as: :file %>
      <%= f.button :submit, method: :post %>
    </div>
  <% end %>
</div>
