<!DOCTYPE html>
<html>
  <head>
    <title>Dancing Partners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body id="monBody">
    <!-- <h1 id="monH1"></h1> -->
  </body>

    <%= yield %>
 <!--  <script type="text/javascript">
    var monH1=document.createElement("h1");
    monH1.innerHTML="Ready To Dance?";
    document.getElementById("monBody").appendChild(monH1);
    // document.getElementById("monH1").innerHTML="Dancing Partners";
    // alert("Bienvenue!");
  </script> -->
</html>


