<!DOCTYPE html>
<html>
  <head>
    <title>Dancing Partners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script type="text/javascript">
      function showMe (it, box) {
      var vis = (box.checked) ? "block" : "none";
      document.getElementById(it).style.display = vis;
      }
    </script>
 -->
  </head>

  <body>
    <%= yield %>
  <!-- <h3 align="center"> This JavaScript shows how to hide divisions </h3>

  <div id="div1" style="display:none">
    <table border=1 id="t1">
      <tr>
        <td>i am here!</td>
      </tr>
    </table>
  </div> -->
    <script>
    function myFunction()
    {
    divInfo = document.getElementById('MyId');
    if (divInfo.style.display == 'none')
    divInfo.style.display = 'block';
    else
    divInfo.style.display = 'none';
    }
    function fctCocherCase(ObjNumber)
{
  recupValeurElement("Checkbox" + ObjNumber).checked = true;
}
  </script>
</body>

  <!-- <body id="monBody">
    <h1 id="monH1"></h1>
  </body> -->

 <!--  <script type="text/javascript">
    var monH1=document.createElement("h1");
    monH1.innerHTML="Ready To Dance?";
    document.getElementById("monBody").appendChild(monH1);
    // document.getElementById("monH1").innerHTML="Dancing Partners";
    // alert("Bienvenue!");
  </script> -->
</html>
<div class="footer-container">
  <a>Performed By</a>
  <a>Lite Services</a>
  <a>Anthony Mania Inspiration</a>
</div>



