<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>Dancing Partners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      article { display:table-cell; text-align:justify; }
      .table1, .table2 { border-collapse:separate; border-spacing:3rem; }
      .ligne { display:table-row; }

      .table1 .ligne { min-height:25rem; }
      .table1 article { width:40rem; vertical-align:top; }
    </style>
  </head>
  <body style="height:auto;" onLoad="c1();">
    <%= render 'shared/navbar' %>
      <%= yield %>
    <div align="center" style="position:absolute; top:450; left:20" id="a">VOILA CE QUE NOUS POUVONS FAIRE AUJOURD'HUI</div>
    <%= render 'shared/footer' %>
    <script type="application/javascript" src="../application.js"></script>
    <script>
      rd = 10;
      la = screen.availWidth;
      function c1(){
        rd += 10;
          if (rd>la-120)
          rd = 20;
        el = document.getElementById("a");
        el.style.left=rd;
        setTimeout("c1()", 100);
      }
    </script>
  </body>
</html>
